@font-face {
	font-family: myAboutUs;
	src: url(../fonts/corben-regular-webfont.woff);
}

@font-face {
	font-family: myHero;
	src: url(../fonts/cinzeldecorative-bold-webfont.woff);
}

body{
	margin: 0px;
	margin-top: 0px;
	width: 100%;
}

.header {
	display: flex;
	flex-wrap: wrap;
}

.logoHead {
	margin-right: 660px;
}

a {
	color: black;
	text-decoration: none;
}

h6 {
	font-size: 20px;
	margin: 0px;
	margin-top: 20px;
	padding-left: 25px;
	padding-right: 25px;
	transition: font-size 0.2s;
}

h6:hover {
	font-size: 22px;
}

.hero {
	display: flex;
	flex-wrap: wrap;
}

.left {
	width: 50%;
}

.right{
	width: 50%;
}

h1 {
	font-family: myHero;
	color: #0F2D49;
	font-weight: bolder;
	font-size: 80px;
	text-align: center;
	line-height: 85px;
	margin-top: 150px;
	margin-left: 100px;
	margin-bottom: 30px;
}

.button1{
	font-size: 20px;
	color: white;
	background-color: #0F2D49;
	border-color: #0F2D49;
	border-radius: 30px;
	padding: 15px 20px 15px 20px;
	margin-left: 200px;
	transition: padding 0.5s;
}

.button1:hover{
	padding: 20px 25px;
}

.button2{
	font-size: 20px;
	color: #0F2D49;
	font-weight: bold;
	background-color: white;
	border-color: #0F2D49;
	border-width: 4px;
	border-radius: 30px;
	padding: 15px 25px 15px 25px;
	margin-left: 30px;
	transition: padding 0.5s;
}

.button2:hover{
	padding: 18px 27px;
}

.aboutUs {
	margin-top: 0px;
	background-color: #0F2D49;
	padding-bottom: 30px;
}

h2{
	padding-top: 30px;
	margin-top: 0px;
	margin-bottom: 20px;
	text-align: center;
	font-size: 90px;
	color: #CCC090;
	font-family: myAboutUs;
}

#aboutImg1 {
	float: right;
	margin-right: 30px;
}

p {
	color: rgba(256, 256, 256, 0.6);
	line-height: 40px;
	margin-left: 20px;
	font-size: 20px;
}

#aboutImg2 {
	float: left;
	margin-left: 30px;
}

.dir {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

h4{
	font-size: 60px;
	font-family: myAboutUs;
	text-align: left;
	color: #CCC090;
}

.dirImg {
	display: flex;
	flex-wrap: wrap;
}

#dir1 {
	border-radius: 50%;
	border-color: #CCC090;
}

#dir2 {
	border-radius: 50%;
	margin-left: 50px;
	border-color: #CCC090;
}

#pImg {
	margin-left: 50px;
}

.servicePage {
	background-color: white;
}

#serHead {
	color: #0F2D49;
	font-size: 70px;
	font-family: myHero;
}

.cards{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-left: 50px;
	margin-top: 30px;
}

.card2 {
	height: 350px;
	width: 250px;
	background-color: #0F2D49;
	border-radius: 10%;
	margin-left: 10px;
	text-align: center;
	margin-left: 50px;
	margin-right: 50px;
	margin-bottom: 30px;
	transition: width 1s, height 1s;
}

.card2:hover {
	width: 300px;
	height: 400px;
}

#serIcon {
	margin-top: 20px;
	margin-bottom: 20px;
}

h5 {
	color: rgba(256, 256, 256, 0.8);
	font-size: 25px;
	margin-top: 0px;
	margin-bottom: 20px;
	text-align: center;
}

#serPara {
	color: rgba(256, 256, 256, 0.6);
	line-height: 20px;
	margin-top: 0px;
	text-align: center;
	font-size: 15px;
	padding-right: 10px;
}


.footer {
	background-color: #0F2D49;
}

.footerDis {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.leftFooter {
	margin-left: 20px;
}

pre {
	color: rgba(256, 256, 256, 0.8);
	font-family: roboto;
	font-size: 16px;
	margin-top: 0px;
	line-height: 25px;
}

.rightFooter {
	margin-left: 100px;
}

.helpDis {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-top: 30px;
}

h3 {
	color: #CCC090;
	margin-left: 420px;
}

#footerButton {
	color: #CCC090;
	background-color: #0F2D49;
	border-color: #CCC090;
	border-bottom-color: #CCC090;
	border-top-color: #CCC090;
	border-radius: 30px;
	border-width: 3px;
	padding: 5px 30px;
	font-size: 15px;
	margin-left: 30px;
}

.iconsDis {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-left: 420px;
	margin-top: 30px;
}

#facebook {
	width: 40px;
	height: 40px;
	transition: width 0.5s, height 0.5s;
}

#instagram {
	width: 40px;
	height: 40px;
	transition: width 0.5s, height 0.5s;
}

#twitter {
	width: 40px;
	height: 40px;
	transition: width 0.5s, height 0.5s;
}

#linkedin {
	width: 40px;
	height: 40px;
	transition: width 0.5s, height 0.5s;
}

#facebook:hover {
	width: 50px;
	height: 50px;
}

#instagram:hover {
	width: 50px;
	height: 50px;
}

#twitter:hover {
	width: 50px;
	height: 50px;
}

#linkedin:hover {
	width: 50px;
	height: 50px;
}
